@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        @* BEGIN User Account Menu *@
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="hidden-xs">@Html.Label(User.Identity.GetUserName())</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <p>
                                @Html.Label(User.Identity.GetUserName())
                            </p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left">
                                @Html.ActionLink("Perfil", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Perfil", @class = "btn btn-default btn-flat" })
                            </div>
                            <div class="pull-right">
                                <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">Sair</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        @* END User Account Menu *@
    }
}
else
{
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            </ul>
        </ul>
    </div>
}

